################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/APIGateway/obj
/APIGateway/bin/Debug/netcoreapp2.1
/MicroServicesAssignment/bin/Debug/netcoreapp2.1
/MicroServicesAssignment/obj
/AccountAPI/bin/Debug/netcoreapp2.1
/AccountAPI/obj
/bin/Debug
/obj
